<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gx.app.gappxutils">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
    gappx_app_readPermission : 'com.gx.app.gappx.file_select_permission',
gappx_test_readPermission: 'com.gx.app.gappx.insidetest.file_select_permission',
    -->
    <uses-permission android:name="com.gx.app.gappx.file_select_permission" />
    <uses-permission android:name="com.gx.app.gappx.insidetest.file_select_permission" />
    <uses-permission android:name="com.gx.app.gappx.insidetest.timing.read.log" />
    <uses-permission android:name="com.gx.app.gappx.timing.read.log" />

    <queries>
        <provider android:authorities="com.gx.app.gappx.insidetest.timeing_provider" />

        <package android:name="br.com.bancobmg.bancodigital.atletico" />
        <package android:name="br.com.bancobmg.bancodigital.vasco" />
        <package android:name="com.igg.android.lordsmobile" />
        <package android:name="com.gameskraft.rummyculture" />
        <package android:name="kingrummyB3.com.Downloader" />
        <package android:name="com.rummytime" />
        <package android:name="com.ticno.olymptrade" />
        <package android:name="com.supero.superRummy" />
        <package android:name="com.vindhyainfotech.classicrummy" />
        <package android:name="com.sharegame.three" />
        <package android:name="apps.rummycircle.com.mobilerummy" />
        <package android:name="com.eterno.shortvideos" />
        <package android:name="com.galaxy.mining.android" />
        <package android:name="com.mpl.androidapp" />
        <package android:name="com.gurutrade7.app" />
        <package android:name="in.ludo.supremegold" />
        <package android:name="game.teenpattistar.com" />
        <package android:name="in.startv.hotstar" />
        <package android:name="com.coindcx.btc" />
        <package android:name="com.tilemaster.puzzle.block.match" />
        <package android:name="air.spartanmobile" />
        <package android:name="air.com.ace2three.mobile" />
        <package android:name="com.naviapp" />
        <package android:name="os.real11" />
        <package android:name="com.iqoption" />
        <package android:name="com.koo.app" />
        <package android:name="com.kreditbee.android" />
        <package android:name="com.gamezy" />
        <package android:name="com.graymatrix.did" />
        <package android:name="co.gradeup.android" />
        <package android:name="com.game.tycoon0317" />
        <package android:name="com.thesilverlabs.rumbl" />
        <package android:name="com.india.upigaming" />
        <package android:name="com.tv.v18.viola" />
        <package android:name="com.coinswitch.kuber" />
        <package android:name="com.eterno" />
        <package android:name="com.alibaba.intl.android.apps.poseidon" />
        <package android:name="com.luizalabs.mlapp" />
        <package android:name="com.tilemaster.puzzle.block.match" />
        <package android:name="com.zzkko" />
        <package android:name="com.kwai.video" />
        <package android:name="com.bradesco" />
        <package android:name="br.com.bradesco.next" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.ticno.olymptrade" />
        <package android:name="br.com.carrefour" />
        <package android:name="com.app.dream11Pro" />
        <package android:name="com.mgensuite.airfox.recharge" />
        <package android:name="app.mycountrydelight.in.countrydelight" />
        <package android:name="br.com.brainweb.ifood" />
        <package android:name="com.peertradedigital.bitcointrade" />
        <package android:name="com.iqoption" />
        <package android:name="com.btg.pactual.banking" />
        <package android:name="com.monitor.wacontrol" />
        <package android:name="br.com.cea.appb2c" />
        <package android:name="com.btg.pactual.digital.mobile" />
        <package android:name="com.bradesco" />
        <package android:name="com.mfine" />
        <package android:name="br.com.bradesco.next" />
        <package android:name="co.mona.android" />
        <package android:name="br.com.bradesco.netempresa" />
        <package android:name="com.fbs.ctand" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.grandTambola" />
        <package android:name="br.com.uol.ps.myaccount" />
        <package android:name="com.peanutbutter.wastat" />
        <package android:name="br.com.bancopan.cartoes" />
        <package android:name="com.trackerapp.whatson" />
        <package android:name="com.mobikwik_new" />
        <package android:name="br.com.guiabolso" />
        <package android:name="goova.sofisa.client.v2" />
        <package android:name="in.ludo.ninja" />
        <package android:name="com.niyo.equitassavingsaccount" />
        <package android:name="com.healthifyme.basic" />
        <package android:name="com.eterno.shortvideos" />
        <package android:name="zebpay.Application" />
        <package android:name="com.expertoption" />
        <package android:name="com.practo.fabric" />
        <package android:name="br.com.bancobmg.bancodigital.corinthians" />
        <package android:name="in.mohalla.video" />
        <package android:name="br.com.marisa.android" />
        <package android:name="com.picpay.business" />
        <package android:name="com.phonegap.rxpal" />
        <package android:name="br.com.intermedium" />
        <package android:name="com.application.zomato" />
        <package android:name="com.apollo.patientapp" />
        <package android:name="com.indiaBulls" />
        <package android:name="com.next.innovation.takatak" />
        <package android:name="br.com.lojasrenner" />
        <package android:name="com.indiaBulls" />
        <package android:name="com.lemon.lvoverseas" />
        <package android:name="com.octafx" />
        <package android:name="com.cardfeed.video_public" />
        <package android:name="com.wrx.wazirx" />
        <package android:name="com.fbs.pa" />
        <package android:name="com.next.innovation.takatak" />
        <package android:name="com.balancehero.truebalance" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.hike.rush" />
        <package android:name="com.fbs.tpand" />
        <package android:name="com.cars24.seller" />
        <package android:name="com.alibaba.intl.android.apps.poseidon" />
        <package android:name="com.moonvideo.android.resso" />
        <package android:name="com.ripio.android" />
        <package android:name="com.byjus.thelearningapp" />
        <package android:name="com.raizen.acelera" />
        <package android:name="com.rynatsa.xtrendspeed" />
        <package android:name="br.com.intermedium" />
        <package android:name="com.baazigames.pokerbaazi" />
        <package android:name="com.betway.sports" />
        <package android:name="com.tv.v18.viola" />
        <package android:name="com.innofinsolutions.instamoney" />
        <package android:name="org.xbet.client1" />
        <package android:name="com.tv.v18.viola" />
        <package android:name="com.octafx" />
        <package android:name="com.roposo.android" />
        <package android:name="com.apollo.patientapp" />
        <package android:name="in.mohalla.sharechat" />
        <package android:name="com.gaana" />
        <package android:name="com.ewar.app" />
        <package android:name="com.kwai.video" />
        <package android:name="com.eterno.shortvideos" />
        <package android:name="com.android.pokersaint" />
        <package android:name="com.iqoption" />
        <package android:name="com.balaji.alt" />
        <package android:name="com.expertoption" />
        <package android:name="com.kwai.video" />
        <package android:name="com.niyo.equitassavingsaccount" />
        <package android:name="com.iqoption" />
        <package android:name="br.com.marisa.android" />
        <package android:name="com.dreamplug.androidapp" />
        <package android:name="com.snapdeal.main" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.b2w.submarino" />
        <package android:name="org.xbet.client1" />
        <package android:name="org.xbet.client1" />
        <package android:name="in.swiggy.android" />
        <package android:name="org.xbet.client1" />
        <package android:name="org.xbet.client1" />
        <package android:name="org.xbet.client1" />
        <package android:name="br.com.xp.carteira" />
        <package android:name="com.igamehelp.sarahrummy" />
        <package android:name="com.mosaicwellness.manmatters" />
        <package android:name="vc.com.guruapp" />
        <package android:name="com.giottus.giottus_mobile" />
        <package android:name="com.b2w.americanas" />
        <package android:name="org.xbet.client1" />
        <package android:name="br.com.cea.appb2c" />
        <package android:name="com.trade.rubik" />
        <package android:name="com.bitbnspay" />
        <package android:name="br.com.uol.ps.myaccount" />
        <package android:name="in.snl.plus" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.roposo.android" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="world.social.group.video.share" />
        <package android:name="com.next.innovation.takatak.lite" />
        <package android:name="com.done.faasos" />
        <package android:name="com.octafx" />
        <package android:name="fit.cure.android" />
        <package android:name="com.supr.suprdaily" />
        <package android:name="com.application.zomato" />
        <package android:name="br.com.carrefour" />
        <package android:name="com.byjus.aakash.thelearningapp" />
        <package android:name="com.csam.icici.bank.imobile" />
        <package android:name="com.peertradedigital.bitcointrade" />
        <package android:name="com.app.smytten" />
        <package android:name="com.shopclues" />
        <package android:name="com.phonepe.app" />
        <package android:name="com.halaplay" />
        <package android:name="com.rapido.passenger" />
        <package android:name="com.s.video.bloomer" />
        <package android:name="com.wzy.rummypundit" />
        <package android:name="com.indianteenpatti.game" />
        <package android:name="com.alibaba.intl.android.apps.poseidon" />
        <package android:name="chat.meme.inke" />
        <package android:name="br.com.carrefour" />
        <package android:name="br.com.carson.android.bitz" />
        <package android:name="com.csam.icici.bank.imobile" />
        <package android:name="sg.bigo.live" />
        <package android:name="com.gamezy" />
        <package android:name="com.gamezy" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="br.com.neon" />
        <package android:name="com.snapdeal.main" />
        <package android:name="br.com.neon" />
        <package android:name="com.rong360.android_abroad_loans" />
        <package android:name="in.ludo.ninja" />
        <package android:name="in.ludo.supremegold" />
        <package android:name="com.zoomcar" />
        <package android:name="com.supr.suprdaily" />
        <package android:name="com.b2w.shoptime" />
        <package android:name="com.b2w.shoptime" />
        <package android:name="ru.yoo.money" />
        <package android:name="com.rapido.passenger" />
        <package android:name="com.mega.app" />
        <package android:name="sg.bigo.live" />
        <package android:name="com.vibe.app.android" />
        <package android:name="com.trade.rubik" />
        <package android:name="id.astra.adp.movic" />
        <package android:name="com.mega.app" />
        <package android:name="com.vibe.app.android" />
        <package android:name="com.zoomcar" />
        <package android:name="com.next.innovation.takatak" />
        <package android:name="com.phonegap.rxpal" />
        <package android:name="com.sberbank.services" />
        <package android:name="com.vindhyainfotech.classicrummy" />
        <package android:name="com.vindhyainfotech.classicrummy" />
        <package android:name="br.com.uol.ps.myaccount" />
        <package android:name="com.gamezy" />
        <package android:name="com.ripio.android" />
        <package android:name="com.indiaBulls" />
        <package android:name="com.byjus.aakash.thelearningapp" />
        <package android:name="com.ticno.olymptrade" />
        <package android:name="com.graymatrix.did" />
        <package android:name="com.dreamplug.androidapp" />
        <package android:name="com.capitalbear" />
        <package android:name="com.btg.pactual.banking" />
        <package android:name="com.byjus.aakash.thelearningapp" />
        <package android:name="com.myntra.android" />
        <package android:name="com.gamezy" />
        <package android:name="com.capermint.ludoempire" />
        <package android:name="com.unacademyapp" />
        <package android:name="com.niyo.equitassavingsaccount" />
        <package android:name="com.next.innovation.takatak.lite" />
        <package android:name="in.mohalla.sharechat" />
        <package android:name="com.ewar.app" />
        <package android:name="com.eterno.shortvideos" />
        <package android:name="com.expertoption" />
        <package android:name="com.next.innovation.takatak" />
        <package android:name="com.next.innovation.takatak" />
        <package android:name="com.srllimited.srl" />
        <package android:name="ru.stoloto.mobile" />
        <package android:name="com.niyo.equitassavingsaccount" />
        <package android:name="br.com.bancopan.cartoes" />
        <package android:name="com.balancehero.truebalance" />
        <package android:name="com.byjus.thelearningapp" />
        <package android:name="com.rynatsa.xtrendspeed" />
        <package android:name="br.com.bancobmg.bancodigital.atletico" />
        <package android:name="com.tv.v18.viola" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="world.social.group.video.share" />
        <package android:name="sg.bigo.live" />
        <package android:name="world.social.group.video.share" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="br.com.intermedium" />
        <package android:name="br.com.intermedium" />
        <package android:name="com.EmasDigi" />
        <package android:name="com.gamezy" />
        <package android:name="br.com.carrefour" />
        <package android:name="com.kwai.video" />
        <package android:name="com.mpl.androidapp" />
        <package android:name="ru.sportmaster.app" />
        <package android:name="air.com.ace2three.mobile" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.peertradedigital.bitcointrade" />
        <package android:name="com.capitalbear" />
        <package android:name="in.ludo.ninja" />
        <package android:name="com.tv.v18.viola" />
        <package android:name="com.shopee.id" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.ss.android.ugc.trill" />
        <package android:name="com.ss.android.ugc.trill" />
        <package android:name="com.hbo.hbonow" />
        <package android:name="com.hbo.hbonow" />
        <package android:name="com.btg.pactual.digital.mobile" />
        <package android:name="br.com.carson.android.bitz" />
        <package android:name="com.next.innovation.takatak" />
        <package android:name="com.skybet.app.skybet" />
        <package android:name="com.kienguru.livestudents" />
        <package android:name="ru.filit.mvideo.b2c" />
        <package android:name="com.elparking.elparking" />
        <package android:name="br.com.deliverymuch.gastro" />
        <package android:name="com.coindcx.btc" />
        <package android:name="com.coindcx.btc" />
        <package android:name="br.com.carson.android.bitz" />
        <package android:name="com.mega.app" />
        <package android:name="br.com.intermedium" />
        <package android:name="com.bitso.wallet" />
        <package android:name="com.baazigames.pokerbaazi" />
        <package android:name="com.cmcm.uangme" />
        <package android:name="com.superdigital" />
        <package android:name="br.com.uol.ps.myaccount" />
        <package android:name="com.srllimited.srl" />
        <package android:name="com.gameskraft.rummyculture" />
        <package android:name="com.app.dream11Pro" />
        <package android:name="com.phonepe.app" />
        <package android:name="com.bitso.wallet" />
        <package android:name="in.myteam11" />
        <package android:name="com.mintq.gocash" />
        <package android:name="com.fliper.app" />
        <package android:name="com.superdigital" />
        <package android:name="com.lottomart.lottery.bet" />
        <package android:name="com.superdigital" />
        <package android:name="com.kt.kreditin" />
        <package android:name="br.com.original.bank" />
        <package android:name="com.gamezy" />
        <package android:name="com.spotify.music" />
        <package android:name="com.dhgate.buyermob" />
        <package android:name="com.dhgate.buyermob" />
        <package android:name="com.kienguru.livestudents" />
        <package android:name="com.wp.wadah" />
        <package android:name="com.showtimeapp" />
        <package android:name="com.EmasDigi" />
        <package android:name="com.coinswitch.kuber" />
        <package android:name="com.indiaBulls" />
        <package android:name="br.com.intermedium" />
        <package android:name="com.vindhyainfotech.classicrummy" />
        <package android:name="com.mpokket.app" />
        <package android:name="com.capermint.ludoempire" />
        <package android:name="com.dream11sportsguru" />
        <package android:name="com.adakami.dana.kredit.pinjaman" />
        <package android:name="amaro.amaroandroid" />
        <package android:name="com.jago.digitalBanking" />
        <package android:name="com.yatrirailways.yatri" />
        <package android:name="com.framework.troops" />
        <package android:name="com.tv.v18.viola" />
        <package android:name="com.balancehero.truebalance" />
        <package android:name="com.nordvpn.android" />
        <package android:name="com.global.live" />
        <package android:name="br.com.cea.appb2c" />
        <package android:name="com.cmcm.uangme" />
        <package android:name="com.vuclip.viu" />
        <package android:name="com.apegroup.mcdonaldsrussia" />
        <package android:name="id.flip" />
        <package android:name="com.mpl.poolchamps" />
        <package android:name="com.coindcx.btc" />
        <package android:name="com.ada.astrapay" />
        <package android:name="com.app.dream11Pro" />
        <package android:name="com.cmcm.uangme" />
        <package android:name="video.likeit.lite" />
        <package android:name="in.mohalla.video" />
        <package android:name="com.marketly.trading" />
        <package android:name="com.marketly.trading" />
        <package android:name="com.zipmex" />
        <package android:name="com.vuclip.viu" />
        <package android:name="com.paytm.paytmplay" />
        <package android:name="com.gamezy" />
        <package android:name="com.intermiles.app" />
        <package android:name="video.likeit.lite" />
        <package android:name="com.gamezy" />
        <package android:name="com.kienguru.livestudents" />
        <package android:name="com.kwai.video" />
        <package android:name="com.kwai.video" />
        <package android:name="com.healthifyme.basic" />
        <package android:name="com.parimatch.russia" />
        <package android:name="com.mxtech.videoplayer.ad" />
        <package android:name="os.real11" />
        <package android:name="com.gamezy" />
        <package android:name="com.ben.wendy" />
        <package android:name="com.cars24.seller" />
        <package android:name="com.mosaicwellness.manmatters" />
        <package android:name="com.ballebaazi" />
        <package android:name="enviouchegou.android" />
        <package android:name="com.hbo.hbonow" />
        <package android:name="com.hbo.hbonow" />
        <package android:name="com.tradersclub.tc" />
        <package android:name="com.paytm.paytmplay" />
        <package android:name="com.linkdokter.halodoc.android" />
        <package android:name="com.tatahealth.tatadhp" />
        <package android:name="com.vuclip.viu" />
        <package android:name="net.bitburst.pollpay" />
        <package android:name="com.gamezy" />
        <package android:name="com.psafe.msuite" />
        <package android:name="com.capermint.ludoempire" />
        <package android:name="com.phablecare" />
        <package android:name="com.mventus.selfcare.activity" />
        <package android:name="com.westernunion.moneytransferr3app.ru" />
        <package android:name="com.hbo.hbonow" />
        <package android:name="com.tigerwit.forex" />
        <package android:name="com.mpl.androidapp" />
        <package android:name="com.picpay.business" />
        <package android:name="com.raizen.acelera" />
        <package android:name="robot.zaimer.ru" />
        <package android:name="in.shopx.consumerapp" />
        <package android:name="com.mobly" />
        <package android:name="com.bstar.intl" />
        <package android:name="com.tul.tatacliq" />
        <package android:name="io.chingari.app" />
        <package android:name="com.showtimeapp" />
        <package android:name="haygot.togyah.app" />
        <package android:name="global.dostavista.client" />
        <package android:name="global.dostavista.client" />
        <package android:name="com.shopee.id" />
        <package android:name="com.theporter.android.customerapp" />
        <package android:name="com.vedantu.app" />
        <package android:name="com.rynatsa.xtrendspeed" />
        <package android:name="com.buddyloan.vls" />
        <package android:name="com.onlinebankaccount.zerobalanceaccount" />
        <package android:name="com.coinswitch.kuber" />
        <package android:name="com.astropaycard.android" />
        <package android:name="com.myairtelapp" />
        <package android:name="net.natura.semprepresente" />
        <package android:name="com.linkdokter.halodoc.android" />
        <package android:name="com.crosstower.india" />
        <package android:name="br.com.marisa.android" />
        <package android:name="com.astropaycard.android" />
        <package android:name="com.application.zomato" />
        <package android:name="com.unacademyapp" />
        <package android:name="com.whitehatjr" />
        <package android:name="com.byu.id" />
        <package android:name="com.hbo.hbonow" />
        <package android:name="com.ballebaazi" />
        <package android:name="com.innofinsolutions.instamoney" />
        <package android:name="com.linkdokter.halodoc.android" />
        <package android:name="com.octafx" />
        <package android:name="io.chingari.app" />
        <package android:name="com.linkdokter.halodoc.android" />
        <package android:name="apps.rummycircle.com.mobilerummy" />
        <package android:name="com.il.mcdelivery" />
        <package android:name="com.EmasDigi" />
        <package android:name="in.upstox.app" />
        <package android:name="com.next.innovation.takatak" />
        <package android:name="org.xstavka.client" />
        <package android:name="ru.vtb.invest" />
        <package android:name="com.next.innovation.takatak" />
        <package android:name="com.fbs.pa" />
        <package android:name="co.go.fynd" />
        <package android:name="zebpay.Application" />
        <package android:name="com.acko.android" />
        <package android:name="com.immparentportal" />
        <package android:name="com.rapido.passenger" />
        <package android:name="in.upstox.app" />
        <package android:name="com.alibaba.aliexpresshd" />
        <package android:name="br.com.Inter.CDPro" />
        <package android:name="com.b2w.submarino" />
        <package android:name="com.mobfiq.epocacosmeticos" />
        <package android:name="com.younger.client" />
        <package android:name="com.votorantim.bvpd" />
        <package android:name="com.bitbnspay" />
        <package android:name="com.ticno.olymptrade" />
        <package android:name="com.naviapp" />
        <package android:name="com.tatasky.binge" />
        <package android:name="ajaib.co.id" />
        <package android:name="com.votorantim.bvpd" />
        <package android:name="com.eterno" />
        <package android:name="com.votorantim.bvpd" />
        <package android:name="co.gradeup.android" />
        <package android:name="br.com.meutudo" />
        <package android:name="apps.rummycircle.com.mobilerummy" />
        <package android:name="com.eterno.shortvideos" />
        <package android:name="com.phonegap.rxpal" />
        <package android:name="com.apnatime" />
        <package android:name="br.com.meutudo" />
        <package android:name="com.octafx" />
        <package android:name="id.astra.adp.movic" />
        <package android:name="br.com.drogasil" />
        <package android:name="com.younger.client" />
        <package android:name="com.mosl.mobile" />
        <package android:name="com.hike.mazuma" />
        <package android:name="com.paytmmoney" />
        <package android:name="air.com.ace2three.mobile" />
        <package android:name="org.xbet.client1" />
        <package android:name="yesmadamservices.app.com.yesmadamservices" />
        <package android:name="com.gx.app.gappx.insidetest" />
        <package android:name="com.gx.app.gappx" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GappxUtils">
        <activity android:name=".FileActivity"></activity>
        <activity
            android:name=".UserActivity"
            android:label="用户信息" />
        <activity
            android:name=".TaskActivity"
            android:label="本地计时任务列表" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogQueryTimeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>